@model IEnumerable<ProjectITP.Models.UtilityBills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="font-family:fantasy">Utility Bills</h2>

@{
    double tot = 0;
}

<p>
    @Html.ActionLink("Create New", "Create", "UtilityBills", new { @class = "btn btn-success" })
</p>

<hr />

@Html.ActionLink("Export To Excel", "Reports", new { ReportType = "Excel" }, new { @class = "btn btn-primary" }) |
@Html.ActionLink("Export To Pdf", "Reports", new { ReportType = "Pdf" }, new { @class = "btn btn-primary" }) |
@Html.ActionLink("Export To word", "Reports", new { ReportType = "Word" }, new { @class = "btn btn-primary" }) |
@Html.ActionLink("Export To Image", "Reports", new { ReportType = "Image" }, new { @class = "btn btn-primary" }) |

<hr />

<p>
    @using (Html.BeginForm())
    {
        <table>
            <tr class="bg-primary">
                <th>Year</th>
                <th>Month</th>
                <th>Check</th>
            </tr>
            <tr>
                <td> @Html.Editor("Year", new { htmlAttributes = new { @class = "form-control", Type = "integer" } })</td>
                <td> @Html.Editor("Month", new { htmlAttributes = new { @class = "form-control", Type = "integer" } })</td>
                <td><input type="submit" value="See Results" class="btn btn-default" /></td>
            </tr>
        </table>


    }
</p>

<hr />



<table id="utility" class="table table-hover table-bordered">

    <thead>
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.billNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.billType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>

            <th></th>
        </tr>


    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.billNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.billType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>


                @{
                    tot = tot + item.price;
                }

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" }) |
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </tbody>
</table>



<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total Price :</th>
        <th>Rs : @Html.DisplayFor(x => tot) </th>
    </tr>
</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            var table = $("#utility").DataTable();

        });
    </script>


}

