@model ProjectITP.Models.Material

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialTypes.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialTypes.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materialURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materialURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id },  new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-primary" })
</p>
